<div class="product-wrapper">

  <div class="product-controls" layout="row" layout-align="center center">
    <div class="button text-center" flex><i class="ion-ios-minus-outline"></i></div>
    <div class="button text-center" flex><i class="ion-ios-plus-outline"></i></div>
  </div>

  <div class="product" layout="row" ng-class="{'controls-exposed' : exposed}" ng-click="exposed = !exposed">
    <div class="product-info text-right">
      <h3 class="product-price" ng-bind="::(product.price | number : 2) + '&nbsp;€&nbsp;/&nbsp;' + product.unit"></h3>
      <h4 class="product-available" ng-bind="product.available +'&nbsp;'+product.unit"></h4>
    </div>
    <div class="product-content" flex>
      <h3 class="product-title" ng-bind="::product.name"></h3>
      <h4 class="product-type" ng-bind="::product.type"></h4>
      <p class="product-description" ng-bind="::product.description"></p>
      <p class="product-manufacturer" ng-bind="::product.company"></p>
    </div>
  </div>


 </div>