$product-info-width : 82px;

.product{
	@extend .animate;
	font-size: 1rem;
	background-color: $product-background-color;
	position: relative;
	z-index: 1;

	padding-left: 40px;
	padding-right: 40px;

	*{
		pointer-events: none;
	}

	h3{
		font-size: 1.3rem;
		font-weight: 800;
		margin:10px 0;
	}

	h4{
		font-size: 1.2rem;
		font-weight: 200;
		margin:5px 0;
	}

	.product-price{
		font-size: 1.62rem;
	}

	.product-info, .product-content{
		padding: $grid-gutter-width 0 $grid-gutter-width $grid-gutter-width;
	}

	.product-info{

	}

	&.controls-exposed{
		transform: translate3d(50%, 0,0);

		@media (min-width: $screen-sm){
			transform: translate3d(256px, 0,0);
		}
	}
}


.product-image-wrapper{
	position: relative;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 5px solid $hilight-color;
}

.product-wrapper{
	position: relative;

	// &:first-of-type{
	// 	border-top: 1px solid $hilight-color;
	// }

	// &:not(:last-child){
	// 	border-bottom: 1px solid $hilight-color;
	// }

	 // &:nth-child(even) .product-info{
	 // 	background-color: lighten($hilight-color, 10);
	 // }
}


.product-controls{
	position: absolute;
	left:0;
	right: 50%;
	top: 0;
	bottom: 0;
	line-height: 42px;
	font-size: 32px;
	z-index: 0;
	color: $hilight-color;

	@media (min-width: $screen-sm){
		right: auto;
		width: 256px;
	}
}