$product-info-width : 82px;

.product{
	font-size: 1rem;
	background-color: white;


	*{
		pointer-events: none;
	}

	h3{
		font-size: 1.3rem;
		font-weight: 500;
	}

	h4{
		font-size: 1.2rem;
		font-weight: 200;
	}

	.product-info, .product-content{
		padding: 0 $grid-gutter-width / 2;
	}

	.product-info{
		width: 96px;
		background-color: $hilight-color;
		color: white;
	}

	position: relative;
	z-index: 1;

	@extend .animate;

	&.controls-exposed{
		transform: translate3d(50%, 0,0);
	}
}

.product-wrapper{
	position: relative;


	&:first-of-type{
		border-top: 1px solid $hilight-color;
	}

	&:not(:last-child){
		border-bottom: 1px solid $hilight-color;
	}

	 &:nth-child(even) .product-info{
	 	background-color: lighten($hilight-color, 10);
	 }
}


.product-controls{
	position: absolute;
	left:0;
	right: 50%;
	top: 0;
	bottom: 0;
	line-height: 42px;
	font-size: 32px;
	z-index: 0;
	color: $hilight-color;
}