<div class="product-wrapper" ng-repeat="product in productList.list track by product._id">

  <div class="product-controls" layout="row" layout-align="center center">
    <div class="button text-center" ng-click="productList.removeFromCart(product)" flex><i class="ion-ios-minus-outline"></i></div>
    <div class="button text-center" ng-click="productList.addToCart(product)" flex><i class="ion-ios-plus-outline"></i></div>
  </div>

  <div class="product" layout="row"
    ng-class="{'controls-exposed' : productList.isExposed(product)}"
    ng-click="productList.exposeProduct(product)">

    <div class="product-info text-right">
      <h3 class="product-price" ng-bind="::productList.calculator.getPrice(product) + '&nbsp;€'"></h3>
      <h4 class="product-property" ng-bind="product.available"></h4>
      <h4 class="product-propert" ng-bind="::product.type"></h4>
    </div>

    <div class="product-content" flex>
      <h3 class="product-title" ng-bind="::product.name + '&nbsp;' + product.package_size + product.unit"></h3>
      <p class="product-description" ng-bind="::product.description"></p>
      <!-- <p class="product-manufacturer" ng-bind="::product.producer_id"></p> -->
    </div>
  </div>
 </div>