<div class="view view-translate view-small" layout="column">
	<div class="view-header marker-bounding-box" ng-click="location.back()"></div>
	<div class="view-content-white col-gt-sm-hide" flex></div>

	<div class="view view-shadow-gt-sm view-white-gt-sm" scroll-y>
		<div class="view-header col-gt-sm-hide" ng-click="location.back()"></div>

		<div class="col-xs-12 no-gutter view-content-white view-shadow-lt-sm">
				<div class="view-text-container view-content">
					<div class="view-title-wrapper">
						<p class="subtitle text-center" ng-bind="location.point.type"></p>
						<h2 class="view-title text-center hilight text-strong text-uppercase" ng-bind="location.point.name"></h2>
					</div>
				</div>

				<table class="calendar calendar-month">
					<tr ng-repeat="(dayIndex, day) in location.calendar track by dayIndex"
					ng-click="location.selectDay(day)"
					ng-class="{'selected' : location.selectedDay === day}">
						<td>{{day.start_datetime | date : 'dd.MM.yyyy'}}</td>
						<td>{{day.start_datetime | date : 'hh:mm'}}</td>
						<td>{{day.end_datetime | date : 'hh:mm'}}</td>
					</tr>
				</table>

				<div class="col-xs-12 no-gutter list-products">
					<!-- <h4 class="sub-header text-center">Tuotteet</h4> -->
<!-- 					<div class="product-types" ng-repeat="(typeIndex, type) in location.availableTypes track by typeIndex">
						<h4 ng-bind="::type"></h4>
					</div> -->
					<div class="product-list">
						<product
							ng-repeat="product in location.products track by product._id"
							ng-model="product"></product>
					</div>
				</div>

		</div>
	</div>
</div>
