
.view-open-times{

	p{
		margin:0;
	}
}

.location-title-image-container{
	width: 96px;
	height: 96px;
	border-radius: 50%;
	border: 8px solid $hilight-color;
	margin-top: 20px;
	margin-bottom: 20px;
}


.view-title-wrapper{

}

.view-text-container{
	padding-right: 40px;
	padding-left: 40px;

	position: relative;
	overflow: hidden;
}

.list-products{
	// border-top: 1px solid #aaa;
}