.animate{
	transition-duration: $ios-transition-duration;
	transition-timing-function: $ios-transition-timing-function;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
}


[ng-click], [ui-sref]{
	cursor: pointer;
}


.view-content-background, .view-background{
	background-color: $view-background-color;
}



.view-content-hilight{
	background-color: $hilight-color;
	color: $hilight-background-text;
}

.no-gutter{
	padding-left: 0;
	padding-right: 0;
}

.no-margin{
	margin:0;
}

.view-content{
	padding: 15px;
}


.view-shadow{
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
}



[layout]{
	display: flex;
	flex-direction: column;
}

[layout="row"]{
	flex-direction: row;
}

[flex]{
	flex:1;
}

[flex-wrap]{
	flex-wrap: wrap;
}

@for $i from 1 through 20 {
	[layout="column"] [flex="#{$i * 5}"] {
		flex: 1;
		max-height: $i*5%;
	}

	[layout="row"] [flex="#{$i * 5}"] {
		flex: 1;
		max-width: $i*5%;
	}

}

[text-fit]{
	display: inline-block;
	white-space: nowrap;
}

[layout-align ^= "start"]{
	align-items: flex-start;
}

[layout-align ^= "end"]{
	align-items: flex-end;
}

[layout-align ^= "center"]{
	align-items: center;
}

[layout-align ^= "baseline"]{
	align-items: baseline;
}

[layout-align $= "center"]{
	justify-content: center;
}
