$grid-gutter-width: 15px;
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$ionicons-font-path: "packages/bower/ionicons/fonts";
