$grid-gutter-width: 15px;
$navbar-inverse-link-color: #5AADBB;
$hilight-color: #4b7feb;
// $hilight-color: #ee7511;
$ionicons-font-path: "packages/bower/ionicons/fonts";
$ios-transition-timing-function: cubic-bezier(.3, .9, .4, 1) !default;
$ios-transition-duration:              450ms !default;

$hilight-background-text: white;

$view-background-color: white;
$product-background-color: $view-background-color;

$view-transition : $ios-transition-duration;
$toolbar-width: 80px;
$view-transition-timing-function-enter: $ios-transition-timing-function;

$view-header-size: 42px;
$view-footer-size: 42px;
$view-header-color: #444;
$view-footer-color: #444;
$view-header-bar-background: $view-background-color;
$view-footer-bar-background: $view-background-color;

$list-background-color: $view-background-color;
$list-stripe-color: darken($view-background-color, 10);


$screen-sm: 800px;
$screen-md: 1000px;
$screen-lg: 1200px;