$view-transition : $ios-transition-duration;
$toolbar-width: 64px !default;
$view-transition-timing-function-enter: $ios-transition-timing-function !default;
$header-bar-height: 42px !default;
$footer-bar-height: 42px !default;

.view-header-bar{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	height: $header-bar-height;
	line-height: $header-bar-height;
	font-size: $header-bar-height * 0.65;
}

.view-footer-bar{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-bar-height;
	line-height: $footer-bar-height;
	font-size: $footer-bar-height * 0.65;
}

.view-header-bar, .view-footer-bar{
	z-index: 10;
	padding: 10px;

	i{
		display: block;
		text-align: center;
	}
}

.view {
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	overflow: hidden;


	.view-child-has-header>.view{
		top: $header-bar-height;
	}

	.view-child-has-footer>.view{
		bottom: $header-bar-height;
	}


	&.view-has-header{
		top: $header-bar-height;
	}

	&.view-has-footer{
		bottom: $footer-bar-height;
	}

	@media (min-width: $screen-sm){
		&.view-small {
			.view-header{
				position: absolute;
				height: auto;
				padding-bottom: 0;
				left: 0;
				right: 60%;
				top:0;
				bottom: 0;
			}

			.view{
				left:40%;
			}
		}
	}
}




.view-background{
	@extend .view;
}


.view-bright{
	color: white;
}

.view-header{
	height: 0;
	padding-bottom: 70%;
}

.view-toolbar {
	position: absolute;
	bottom:0;
	left:0;
	right: 0;
	height: $toolbar-width;
	top:auto;
	background-color: #222;

	.tool{
		line-height: $toolbar-width;
		width: $toolbar-width;
		color: white;
		font-size: $toolbar-width * 0.5;
		text-align: center;
		background-color: #333;
		transition: 0.4s;
		cursor: pointer;
		float:left;

		&:hover{
			background-color: #444;
		}
	}
}

[scroll-y]{
	overflow: hidden;
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch;
}






.view-animate {
	transition: $view-transition !important;

	&.ng-animate>.view-translate{
		transition: $view-transition !important;
		transition-timing-function: $view-transition-timing-function-enter;
	}

	&.ng-enter>.view-translate{
		z-index: 2;
		transform: translate3d(0,100%,0) !important;
	}

	&.ng-enter-active>.view-translate{
		z-index: 2;
		transform: translate3d(0,0,0) !important;
	}

	&.ng-leave>.view-translate{
		transform: translate3d(0,0,0) !important;
		z-index: 1;
	}

	&.ng-leave-active>.view-translate{
		transform: translate3d(0,100%,0) !important;
		z-index: 1;
	}





	&.ng-animate>.view-fade{
		transition: $view-transition !important;
		transition-timing-function: $view-transition-timing-function-enter;
	}

	&.ng-enter>.view-fade{
		opacity:0 !important;
		z-index: 2;
	}

	&.ng-enter-active>.view-fade{
		opacity:1 !important;
	}

	&.ng-leave>.view-fade{
		opacity: 1 !important;
		z-index: 1;
	}

	&.ng-leave-active>.view-fade{
		opacity: 0 !important;
		z-index: 1;
	}
}

.view-animate-from-left-gt-sm {
	@media (min-width: $screen-sm){
		transition: $view-transition !important;

		&.ng-animate>.view-translate{
			transform: translate3d(0,0,0);
			transition: $view-transition !important;
		}

		&.ng-enter>.view-translate{
			transform: translate3d(-100%,0,0) !important;
		}

		&.ng-enter-active>.view-translate{
			transform: translate3d(0,0,0) !important;
		}

		&.ng-leave>.view-translate{
			transform: translate3d(0,0,0) !important;
		}

		&.ng-leave-active>.view-translate{
			transform: translate3d(-100%,0,0) !important;
		}
	}
}
.view-animate-from-right-gt-sm {
	@media (min-width: $screen-sm){
		transition: $view-transition !important;

		&.ng-animate>.view-translate{
			// transform: translate3d(0,0,0);
			transition: $view-transition !important;
		}

		&.ng-enter>.view-translate{
			transform: translate3d(100%,0,0) !important;
		}

		&.ng-enter-active>.view-translate{
			transform: translate3d(0,0,0) !important;
		}

		&.ng-leave>.view-translate{
			transform: translate3d(0,0,0) !important;
		}

		&.ng-leave-active>.view-translate{
			transform: translate3d(100%,0,0) !important;
		}
	}
}

// .view-animate {
// }

.animation-direction-back .view-animate {
	&.ng-animate {
		transition: $view-transition !important;
	}

	&.ng-enter {
		transform: translate3d(-100%, 0,0) !important;
		z-index: 2;
	}

	&.ng-enter-active {
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active {
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave {
		transform: translate3d(100%, 0,0) !important;
		z-index: 1;
	}
}

.animation-direction-up .view-animate {
	&.ng-animate {
		transition: $view-transition !important;
	}

	&.ng-enter {
		transform: translate3d(0,-100%,0) !important;
		z-index: 2;
	}

	&.ng-enter-active {
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active {
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave {
		transform: translate3d(0,100%,0) !important;
		z-index: 1;
	}
}

.animation-direction-down .view-animate {
	&.ng-animate {
		transition: $view-transition !important;
	}

	&.ng-enter {
		transform: translate3d(0,100%,0) !important;
		z-index: 2;
	}

	&.ng-enter-active {
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active {
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave {
		transform: translate3d(0,-100%,0) !important;
		z-index: 1;
	}
}