<div class="view view-root view-background view-content-hilight view-fade view-landing"  layout="column" layout-align="center center"  scroll-y>
	<h2 class="header-main text-center text-uppercase">Paskoja<br/>vihanneksija</h2>

	<ul class="list landing-icons text-center" layout="row" ui-sref="root.places">
		<li flex="33" class="list-item list-item-icon">
			<i class="ion-ios-location-outline"></i>
			<h4 class="list-item-label text-light">Nouto&shy;paikat</h4>
		</li>
		<li flex="33" class="list-item list-item-icon" ui-sref="producer.info({_id:'pMCbdjnMqWqiLjXLD'})">
			<i class="ion-ios-home-outline"></i>
			<h4 class="list-item-label text-light">Tuottajat</h4>
		</li>
		<li flex="33" class="list-item list-item-icon">
			<i class="ion-ios-gear-outline"></i>
			<h4 class="list-item-label text-light">Omat sivut</h4>
		</li>
	</ul>
</div>