<div class="view view-root view-bright view-white view-fade">
	<div class="view-background" image-loader="'images/bg-1.jpg'"></div>
	<div class="view"  layout="column" layout-align="center center"  scroll-y>
		<div class="view-content text-center">
			<h2 class="text-shadow header-main text-uppercase">Paskoja<br/>vihanneksija</h2>

			<ul class="list list-bordered list-large">
				<li class="list-item" ui-sref="root.places">
					<h3 class="list-item-title text-shadow">Noutopaikat</h3>
				</li>
				<li class="list-item">
					<h3 class="list-item-title text-shadow">Tuotteet</h3>
				</li>
				<li class="list-item">
					<h3 class="list-item-title text-shadow">Tuottajat</h3>
				</li>
				<li class="list-item">
					<h3 class="list-item-title text-shadow">Rekisteröidy tuottajaksi</h3>
				</li>
			</ul>
		</div>
	</div>
</div>