<div class="view view-translate" scroll-y>
	<div layout="column" class="list-padding ">
    <div class="input-container">
      <input type="text"  ng-class="{'has-value' : producer.model.name}" ng-model="producer.model.name">
      <label>Name</label>
    </div>
    <div class="input-container">
      <input type="text"  ng-class="{'has-value' : producer.model.type}" ng-model="producer.model.type">
      <label>Tyyppi</label>
    </div>
    <div class="input-container">
      <textarea  ng-class="{'has-value' : producer.model.description}" ng-model="producer.model.description"></textarea>
      <label>Description</label>
    </div>
    <div class="input-container" flex>
      <input type="text"  ng-class="{'has-value' : producer.model.position.address}" ng-model="producer.model.position.address">
      <label>Osoite</label>
    </div>

		<button ng-click="producer.model.save()">SAVE!</button>

<!--     <div layout="row">
      <div class="input-container" flex>
        <input type="text"  ng-class="{'has-value' : producer.model.position.lat}" ng-model="producer.model.position.lat">
        <label>Pituus</label>
      </div>
      <div class="input-container" flex>
        <input type="text"  ng-class="{'has-value' : producer.model.position.lng}" ng-model="producer.model.position.lng">
        <label>Leveys</label>
      </div>
    </div> -->
	</div>
</div>
