<div class="cart" layout="column">

	<div class="cart-list" ng-class="{'cart-list-open' : cart.listOpen}">
		<div class="cart-controls" layout="row">
			<i flex class="ion-ios-cart-outline"></i>
			<i flex class="ion-ios-cart-outline"></i>
			<i flex class="ion-ios-cart-outline"></i>
		</div>
		<div class="cart-products-list"  scroll-y>
			<table>
				<tr>
					<th>kpl</th>
					<th>pakkaus</th>
					<th>nimi</th>
					<th>yhteensä</th>
				</tr>
				<tr class="cart-product" ng-repeat="(productIndex, product) in cart.cart.list track by productIndex">
					<td ng-bind="product._count"></td>
					<td ng-bind="product.package_size + '&nbsp;' + product.unit"></td>
					<td ng-bind="product.name"></td>
					<td ng-bind="product._sum + '&nbsp;€'"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="cart-content" layout="row" layout-align="center center">
		<i class="ion-ios-cart-outline"></i>
		<h4 flex class="cart-count text-center text-light" ng-bind="'Tuotteita: '+cart.cart.getCount() + '&nbsp;kpl'"></h4>
		<h4 flex class="cart-sum text-center text-light" ng-bind="'Yhteensä: '+cart.cart.getSum() + '&nbsp;€'"></h4>
		<i class="ion-ios-more" ng-click="cart.listOpen = !cart.listOpen"></i>
	</div>

</div>