.cart{
	padding: 0;
	font-size: 10pt;

	h4{
		font-size: 10pt;
	}

	i{
		font-size: 16pt;
		padding: 0 10px;
		display: block;
	}

	.cart-content{
		padding: 0 10px;
		background-color: white;
	}

	.cart-controls{
		font-size: 32px;
		background-color: $hilight-color;
		color: white;
	}
}

.cart-list{
	position: absolute;
	bottom: 42px;
	width: 100%;
	background-color: white;
	overflow: hidden;
	height: 60vh;
	transform: translate3d(0,100%,0);
	z-index: -1;
	@extend .animate;


	.cart-products-list{
		height: calc(100% - 42px);
	}

	&.cart-list-open{
		transform: translate3d(0,0,0);
		box-shadow: 0px -30px 30px -30px rgba(0,0,0,0.3);
	}

	table{
		width: 100%;
		line-height: 32px;
	}

	tr:nth-child(even){
		background-color: #f7f7f7;
	}

	td, th{
		padding: 5px;

		&:first-child{
			padding-left: 15px;
		}

		&:last-child{
			text-align: right;
			padding-right: 15px;
		}

	}
}