<div class="view view-translate" layout="row">

		<div class="view-content-hilight view-toolbar" layout="column" scroll-y>
			<div class="tool has-label"><i class="ion-ios-home-outline"></i><span class="tool-label">Yleiset</span></div>
			<div class="tool has-label"><i class="ion-ios-cart-outline"></i><span class="tool-label">Tilaukset</span></div>
			<div class="tool has-label"><i class="ion-ios-nutrition-outline"></i><span class="tool-label">Tuotteet</span></div>
			<div class="tool has-label"><i class="ion-ios-location-outline"></i><span class="tool-label">Paikat</span></div>
			<div class="tool has-label"><i class="ion-ios-calendar-outline"></i><span class="tool-label">Kalenteri</span></div>
		</div>

		<div class="view-content-background view-container" flex>
			<ui-view></ui-view>
		</div>
</div>
