.sidebar-image{
	height: 0;
	padding-bottom: 40%;
	position: relative;
}

.sidebar-header{
	color: white;
	position: absolute;
	bottom: $grid-gutter-width;
	left:0;
	right: 0;
	text-align: center;
	width: auto;
}